* {
   box-sizing: border-box;
}

body {
   margin: 0;
   font-family: "Open Sans";
   background-color: #f7f7f7
}

.header {
   overflow: hidden;
   background-color: white;
   padding: 20px 10px;
}


.header a {
   float: left;
   color: black;
   text-align: center;
   padding: 12px;
   text-decoration: none;
   font-size: 17px;
}


.header a:hover {
   color: #700000;
}

.header-right {
   margin-left: 200px;
}

.header #logo {
   font-size: 20px;
   color: #700000;
   float: left;
   padding: 12px;
   text-align: center;
}
.main-text-and-title-icon {
   display: block;
   margin-left: 150px;
   margin-top: 120px;
}
.main-title-icon{
   float: left;
   margin-left: 50px;
   color:#700000;
   margin-top: 70px;
}
.main-title-text {
   float: left;
   color: white;
   margin-top: 70px;
}
.main-title-tag {
   font-size: 50px;
}
.main-title-summary {
   font-size: 20px;
}
@media screen and (max-width: 500px) {
   .header a {
      float: none;
      display: block;
      text-align: left;
   }

   .header-right {
      float: none;
   }
}